@import url("https://fonts.googleapis.com/css2?family=Arizonia&display=swap");

/* Universal styles - START */
*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

body {
   font-family: Montserrat, sans-serif;
   font-size: 10px;
   line-height: 1.6;
   text-align: center;
}

p {
   font-size: 1.6rem;
}

a {
   text-decoration: none;
}

ul {
   list-style-type: none;
}

input {
   display: inline-block;
}

img {
   width: 100%;
   max-width: 100%;
   height: auto;
}

section {
   width: 100%;
   padding: 5rem 0;
}

.container {
   width: 100%;
   margin: 0 auto;
   padding: 0 1.5rem;
}
/* Universal styles - END */

/* Header style - START */
header {
   width: 100%;
   height: 5rem;
   position: absolute;
   top: 0;
   left: 0;
   display: grid;
   align-items: center;
}

nav {
   padding: 0.5rem 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100%;
   width: 100%;
}

.nav-brand {
   width: 8rem;
   cursor: pointer;
}

.nav-brand i {
   font-family: "Arizonia", cursive;
   font-weight: bold;
   font-size: 1.8rem;
   color: #f5f6fa;
}

.nav-bar-links {
   height: 100vh;
   width: 50%;
   background-color: #2d3436;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: fixed;
   top: 0;
   right: -50%;
   z-index: 1500;
   transition: all 650ms ease-in-out;
}

.nav-item {
   margin: 0.8rem auto;
}

.nav-item .nav-link {
   display: inline-block;
   font-size: 1.3rem;
   color: #f5f6fa;
   border-bottom: 1px solid transparent;
   transition: border-bottom 350ms ease-in-out;
}

.nav-item .nav-link:hover {
   border-color: rgba(254, 202, 87, 1);
}

.toggle {
   right: 0;
}

.nav-menu {
   font-size: 2rem;
   cursor: pointer;
   color: #f5f6fa;
}

.nav-menu.close {
   color: rgba(52, 152, 219, 0.8);
   position: absolute;
   top: 1rem;
   left: 50%;
   transform: translateX(-50%);
}
/* Header style - END */

/* Section Intro Message - START */
.intro {
   color: #f5f6fa;
   height: 100vh;
   background: linear-gradient(
         135deg,
         rgba(12, 36, 97, 0.9) 0%,
         rgba(52, 152, 219, 0.8) 100%
      ),
      url("../images/adult-alone-blur-close-up-1172207.jpg") center no-repeat;
   background-size: cover;
   z-index: -1;
}

.intro .container {
   height: calc(100vh - 5rem);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.intro-message {
   width: 100%;
   margin: 0 auto;
}

.intro-message h1 {
   font-size: 1.7rem;
   font-weight: 600;
}

.intro-message span {
   color: rgba(254, 202, 87, 1);
}

.intro-btn {
   margin-top: 6rem;
}

.intro-btn .btn {
   background-color: rgb(254, 202, 87);
   color: rgba(45, 52, 54, 0.8);
   padding: 0.5rem 1rem;
   border-radius: 4px;
   font-weight: 700;
   font-size: 1rem;
}

.intro-btn .btn:hover {
   background-color: rgba(254, 202, 87, 0.9);
}

/* Section Intro Message - END */

/* Section About & Skills - START */
.section-title {
   margin-bottom: 2rem;
}

.section-title h2 {
   color: rgb(52, 152, 219);
   font-size: 1.5rem;
}

.about-grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
   grid-gap: 3rem;
}

.about-img {
   background-color: rgba(45, 52, 54, 0.8);
   height: 10rem;
   width: 10rem;
   margin: 0 auto;
   box-shadow: 1rem 1rem rgba(52, 152, 219, 0.8);
}

.about-desc {
   margin-top: 2rem;
}

.about-desc p {
   font-size: 1.1rem;
   color: rgba(0, 0, 0, 0.9);
}

.about-info,
.about-skills {
   display: flex;
   width: 100%;
   flex-direction: column;
}

.about-info {
   padding: 0 2rem;
}

.skill-item {
   margin: 1rem 0;
}

.skill-item .label {
   text-align: left;
   font-size: 1.1rem;
   margin-bottom: 0.3rem;
   color: rgba(0, 0, 0, 0.9);
}

.parent-bar {
   background-color: #f1f1f1;
   height: 1.5rem;
   border-radius: 2.5rem;
   position: relative;
   overflow: hidden;
   z-index: -1;
}

.parent-bar .child-bar {
   background-color: rgba(52, 152, 219, 0.8);
   height: 100%;
   width: 30%;
   border-radius: 2.5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 0;
   left: 0;
}

/* HTML */
.skill-item:nth-child(1) > .parent-bar .child-bar {
   width: 60%;
}

/* CSS */
.skill-item:nth-child(2) > .parent-bar .child-bar {
   width: 40%;
}

/* JavaScript */
.skill-item:nth-child(3) > .parent-bar .child-bar {
   width: 30%;
}

/* PHP */
.skill-item:nth-child(4) > .parent-bar .child-bar {
   width: 30%;
}

/* Angular JS */
.skill-item:nth-child(5) > .parent-bar .child-bar {
   width: 15%;
}

.project-modal-bg {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgba(45, 52, 54, 0.8);
}

.project-modal {
   background-color: wheat;
   height: 25rem;
   width: 40rem;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
/* Section About & Skills - END */

/* Section Projects - START */
.projects {
   height: auto;
   background: linear-gradient(
         135deg,
         rgba(12, 36, 97, 0.9),
         rgba(52, 152, 219, 0.8)
      ),
      url("https://images.pexels.com/photos/461077/pexels-photo-461077.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500")
         center no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

.projects h2 {
   color: #f5f6fa;
}

.projects-grid {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.project-item {
   overflow: hidden;
   color: #f1f1f1;
   position: relative;
   height: 20rem;
   padding: 2.5rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

.project-item img {
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   object-fit: cover;
   transition: 500ms ease-out;
}

.project-item:hover img {
   transform: scale(1.1);
}

.project-desc {
   position: absolute;
   opacity: 0;
   z-index: 3;
   transform: translateY(6rem);
   transition: 500ms;
}

.project-desc h3 {
   font-size: 1.8rem;
   font-weight: 500;
   color: rgba(254, 202, 87, 1);
}

.project-desc p {
   font-size: 1rem;
   margin: 0 0 2rem;
}

.project-desc .btn {
   padding: 0.5rem 1rem;
   border-radius: 4px;
   font-size: 0.9rem;
   border: none;
   outline: none;
   cursor: pointer;
}

.project-item:hover .project-desc {
   opacity: 1;
   transform: translateY(0);
}

.overlay {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: 500ms ease;
   background: rgba(45, 52, 54, 0.8);
}

.project-item:hover .overlay {
   opacity: 1;
}
/* Section Projects - END */

/* Section COntacts - START */
.section-title p {
   margin-top: 1rem;
   font-size: 1.1rem;
   color: rgba(45, 52, 54, 0.8);
}

.form {
   margin: 0 auto;
   max-width: 100%;
}

.form-control {
   margin: 1rem 0;
}

.form .btn {
   background-color: rgba(52, 152, 219, 0.8);
   color: #f1f1f1;
   border: none;
   outline: none;
   font-size: 1.2rem;
   font-weight: 500;
   margin-top: 1.5rem;
   cursor: pointer;
}

input,
textarea {
   width: 100%;
   margin: 0 auto;
   display: block;
   font-family: Montserrat, sans-serif;
   font-size: 1rem;
   padding: 0.55rem;
   border-radius: 4px;
   outline: none;
   border: 1px solid rgba(52, 152, 219, 0.8);
   resize: none;
}
/* Section Contacts - END */

/* Footer styles - START */
footer {
   background: linear-gradient(
      135deg,
      rgba(12, 36, 97, 0.9),
      rgba(52, 152, 219, 0.8)
   );
   padding: 2rem;
}

.icon-links {
   display: flex;
   justify-content: center;
   align-items: center;
}

.icon-links i {
   margin: 0 1rem;
   font-size: 1.8rem;
   color: rgba(245, 246, 250, 0.8);
}

.credits p {
   margin-top: 1rem;
   font-size: 0.9rem;
}

/* Footer styles - END */

/* MEDIA QUERIES - START */
@media only screen and (min-width: 576px) {
   .container {
      max-width: 540px;
   }

   .form {
      max-width: 60vw;
   }
}
@media (min-width: 768px) {
   .container {
      max-width: 720px;
   }

   .nav-menu {
      display: none;
   }

   .nav-bar-links {
      height: initial;
      width: initial;
      flex-direction: row;
      background-color: initial;
      position: initial;
      z-index: initial;
   }

   .nav-item {
      margin: initial;
   }

   .nav-item .nav-link {
      font-size: 1.1rem;
      padding: 0.2rem 0.8rem;
   }

   .btn {
      font-size: 1.8em;
   }

   .section-title h2 {
      font-size: 2rem;
   }

   .section-title {
      margin-bottom: 4rem;
   }

   .about-img {
      height: 12rem;
      width: 12rem;
   }

   .form {
      max-width: 50vw;
   }
}

@media (min-width: 992px) {
   .container {
      max-width: 960px;
   }
}

@media (min-width: 1200px) {
   .container {
      max-width: 1140px;
   }

   .intro-message h1 {
      font-size: 3rem;
   }

   .about-img {
      height: 15rem;
      width: 15rem;
   }
}
